main{
    background-color: rgb(170, 0, 255);
}

#img4{
    background-color:rgb(173, 173, 173);
}
#bridal1{
background-color:rgb(170, 0, 255);
}
.carousel-inner img{
aspect-ratio: 16/9;
}
#bridecard{
    background-color:rgb(173, 173, 173); 
}
#bridecard{
}
